

.customLoginDiv {
    max-width: 600px;
    padding: 15px;
    margin: auto;
    text-align: center;
} 


.testeHeighGrande {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  //min-height: 500px;
}

.espacElement {
  margin-top: 12px;
}

.espacElementLg {
  margin-top: 80px;
}
